<h1>Edit Historical Figure: </h1>
<form action='/figures/<%=@figure.id%>' method="POST">
<input type="hidden" name="_method" value="PATCH">

<h2>Figure Name: </h2>
<input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name%>"><br>
<br>

<h2>Titles: </h2>
<% @titles.each do |title| %>
    <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>">
<%end%>
<br>
<br>

<h3>Add a New Title:</h3>
<label>Title: </label>
<input type="text" id="new_title" name="title[name]"><br>

<h2>Landmarks</h2>
<% @landmarks.each do |landmark| %>
    <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id%>">
<%end%>
<br>
<br>

<h3>Add a New Landmark: </h3>
<label>Landmark: </label>
<input type="text" id="new_landmark" name="landmark[name]"><br>
<label>Completion Year:</label>
<input type="text" id="landmark_year_completed" name="landmark[year_completed]">
<br>
<br>

<input type="submit" value="Edit Figure">
</form>