<form action="/figures" method="POST">
<h1>Create a New Historical Figure: </h1>
<label>Name:</label><br>
<input type="text" name="figure[name]" id="figure_name"><br>
<br>

<h2>Titles: </h2>
<% @titles.each do |title| %>
    <input type="checkbox" id="title_<%= title.id %>" name="figure[title_ids][]" value="<%= title.id %>">
    <label><%= title.name %></label><br>
<%end%>
<br>

<h3>Create a New Title: </h3>
<input type="text" name="title[name]" id="new_title"><br>
<br>


<h2>Landmarks: </h2>
<% @landmarks.each do |landmark| %>
    <input type="checkbox" id="landmark_<%= landmark.id %>" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <label><%= landmark.name %></label><br>
<%end%>
<br>
<br>

<h3> Create a New Landmark </h3>
<h4>Landmark Name: </h4>
<input type="text" name="landmark[name]" id="new_landmark"><br>
<h4>Year Completed: </h4> 
<input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>
<br>
<input type="submit" value="Create New Figure"

